<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/games"><span class="glyphicon glyphicon-info-sign"></span> About</a>
      </li>
      <li>
        <a href="/chat"><span class="glyphicon glyphicon-text-background"></span> Chat</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-apple"></span> Games<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li class="divider"></li>
            <li><a href="https://morecomingsoon.com">More Coming Soon...</a></li>
            <li><a href="/credits">Credits</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://morecomingsoon.com"><span class="glyphicon glyphicon-book"></span> More Coming Soon...</a>
      </li>
    </ul>
  </div>
</nav>
