<!DOCTYPE html>
<html>
<head>

  <%- include ("../partials/header.ejs") %>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<p>This page is also WIP...</p>

<br>

<p> Chat System Appearence: <a href="https://codepen.io/TheVVaFFle/pen/QOeQNK">https://codepen.io/TheVVaFFle/pen/QOeQNK</a></p>


</body>
</html>
