<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>

    <script>
      let socket = io();
      let el;

      socket.on('time', (timeString) => {
        el = document.getElementById('server-time');
        el.innerHTML = 'Server time: ' + timeString;
      });

    </script>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

 <p id="server-time"></p>


</body>
</html>
